<!DOCTYPE html>
<html>
<base href="../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BA of KA</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/alumni-home.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>
</head>

<body id="wrapper" class="red">
    <section id="content">
        <section id="top-header">
            <div class="container">
                <div class="row">
                    <div class="social">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <header>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="img/KA_logo.png"></img>
                            <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav sticky">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                </div>
            </nav>
        </header>
        <!--/.nav-ends -->

        <div id="Map" class="data-studio-report ">
                <iframe width="400" height="300" src="https://datastudio.google.com/embed/reporting/63589a54-5a08-415e-9e66-b0f67342d1e5/page/rf9jB"  frameborder="0" style="border:0"></iframe>
        </div>
        </section>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                            <li>Beta Alpha of Kappa Alpha</li>
                            <li>1 Fraternity Drive</li>
                            <li>Rolla, Missouri 65401</li>
                            <li>President: <p class="presPhone" style="display: inline;"></p>
                            </li>
                            <li>Alumni Contact</li>
                            <li>
                                <p class="aluPhone" style="display: inline;"></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                            <li>Kappa Alpha Order at Mulberry Hill</li>
                            <li>115 Liberty Hall Road</li>
                            <li>Lexington, Virginia 24450</li>
                            <li>(540) 463-1865</li>
                            <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <span>Beta Alpha of Kappa Alpha</span>
                    and hosted on <a href="https://github.com/joe-studer-18/mst-ka-site">Github</a>
                </div>
            </div>
        </div>
    </section>

    <div class="applyButton">
        <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>
    <script src="./script/global.js"></script>
</html>
