<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- Allows Relative Link Addresses -->
<base href="../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>
</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul class="social_links">
                        <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li class="active"><a href="#">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Lorem ipsum dolor sit amet</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Contact</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current">Contact</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>
    <section id="apply-online">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Apply <span>Online</span></h2>
            </div>
            <!-- TODO(jstuder): Link Recruitment Chairs to officer page -->
            <p>
                At Kappa Alpha Order we are determined to recruit men who will
                become contributing members to our brotherhood. This
                application is meant to help us get to know you better and
                decide whether you have what it takes to become a member of
                Kappa Alpha. We ask that you fill this out honestly because
                properly picking members is just as important for you as it is for us.
            </p>
            <br>
            <p>
                Every summer we host several Rush events in the St. Louis and
                Kansas City areas. These events are meant to help us get to
                know you better, and for you to get to know us better. It is
                not required for you to attend a Rush event, but it is highly
                recommended that you do so. All costs of the events are
                covered by KA and rides to and from the events can be arranged
                upon request. For more information or to sign up for an event
                please contact either one of our Recruitment Chairs.
            </p>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="apply-membership-form" class="contact-form" name="contact-form" method="post">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div id="nameForm" class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div id="emailForm" class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Phone *</label>
                            <input type="number" name="phone" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Age *</label>
                            <input type="number" name="age" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>High School *</label>
                            <input type="text" name="school" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Class Rank (Include Class Size) *</label>
                            <input type="text" name="rank" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Religion *</label>
                            <input type="text" name="religion" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" id="address" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>City *</label>
                            <input type="text" id="city" required="required" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>State *</label>
                            <input type="text" id="state" required="required" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>Zip Code *</label>
                            <input type="number" id="zipcode" required="required" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>GPA *</label>
                            <input type="text" id="gpa" required="required" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>ACT/SAT *</label>
                            <input type="number" id="actsat" required="required" class="form-control" rows="8">
                        </div>
                        <div class="form-group">
                            <label>Intended Major *</label>
                            <input type="text" id="major" required="required" class="form-control" rows="8">
                        </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label>High School Activities *</label>
                            <textarea name="activities" id="activities" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Honors and Awards *</label>
                            <textarea name="honorsandawards" id="honorsandawards" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>What are your goals for your first year of college? *</label>
                            <textarea name="goals" id="goals" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Who have you been in contact with at KA? *</label>
                            <textarea name="kacontact" id="kacontact" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Why are you considering KA? *</label>
                            <textarea name="whyjoin" id="whyjoin" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>What do you like about our chapter? *</label>
                            <textarea name="whychapter" id="whychapter" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label>How would you define a gentleman? *</label>
                            <textarea name="definegentleman" id="definegentleman" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-default submit-button">Send Message <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact-page">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Email <span>Us</span></h2>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="email-form" class="contact-form" name="contact-form" method="post">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div id="nameForm" class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div id="emailForm" class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Subject *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Message *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-default submit-button">Send Message <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="overlay">
            <div class="gmap-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="gmap">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=37.9564399,-91.78486307581586&amp;q=1%20Fraternity%20Drive%2C%20Rolla%20MO%2C%2065401+(Beta%20Alpha%20of%20Kappa%20Alpha)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></iframe>
                            </div>
                        </div>
                        <div class="col-sm-7 map-content">
                            <ul class="row">
                                <li class="col-sm-6">
                                    <address>
                                        <h5>Missour S&T Chapter</h5>
                                            <ul>
                                              <li>Beta Alpha of Kappa Alpha</li>
                                              <li>1 Fraternity Drive</li>
                                              <li>Rolla, Missouri 65401</li>
                                              <li>President: <p id="presPhone" style="display: inline;">TEXT</p></li>
                                              <li>Alumni Contact</li>
                                              <li>Jim Hennesy - <p id="aluPhone" style="display: inline;">TEXT</p></li>
                                            </ul>
                                    </address>
                                </li>
                                <li class="col-sm-6">
                                    <address>
                                        <h5>National Office</h5>
                                        <ul>
                                          <li>Kappa Alpha Order at Mulberry Hill</li>
                                          <li>115 Liberty Hall Road</li>
                                          <li>Lexington, Virginia 24450</li>
                                          <li>(540) 463-1865</li>
                                          <li>Fax: (540) 463-2140</li>
                                        </ul>
                                    </address>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: <p id="presPhone" style="display: inline;"></p></li>
                          <li>Alumni Contact</li>
                          <li>Jim Hennesy - <p id="aluPhone" style="display: inline;"></p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase.js"></script>
    <script src="script/firebase-init.js"></script>
    <script src="script/contact.js"></script>
    <script src="./script/global.js"></script>
    <script src="./script/global.js"></script>
</body>
</html>
