<!DOCTYPE html>
<html>
    <head>
        <title>Auth</title>
        <meta charset="UTF-8">
    </head>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
    <script src="script/firebase-init.js"></script> 

    <body>
        You Logged in!
    </body>

</html>