<!DOCTYPE html>
<html>
    <head>
        <title>Auth</title>
        <meta charset="UTF-8">
    </head>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyCmUkrghyox9a0FOOX0jRfW52WuzRJkkSY",
        authDomain: "mst-ka.firebaseapp.com",
        databaseURL: "https://mst-ka.firebaseio.com",
        projectId: "mst-ka",
        storageBucket: "mst-ka.appspot.com",
        messagingSenderId: "1013954571954",
        appId: "1:1013954571954:web:66b9fb7d2afbaee52ca3ab",
        measurementId: "G-VM22QLQYZN"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>


    <body>
        You logged in!
    </body>

</html>