<!DOCTYPE html>
<html>
  <base href="../../" />

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/about.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>

  </head>

  <body id="wrapper" class="red">
    <section id="content">
      <section id="top-header">
        <div class="container">
          <div class="row">
            <div class="social">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>

      </section>

      <header>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="img/KA_logo.png"></img>
                <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
              </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul id="desktop-nav" class="nav navbar-nav sticky desktop-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="views/values.html">Values</a></li>
                    <li><a href="views/awards.html">Awards</a></li>
                    <li class="active"><a href="views/about.html">About Us</a></li>
                    <li><a href="views/contact.html">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav sticky mobile-navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a onclick="displaySubNav('values')">Values<i id="values-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i>
                    </a></li>
                    <ul id="values-sub-nav" class="sub-navbar">
                        <li><a href="views/values.html">Our Values</a></li>
                        <li><a href="views/valuetab/brotherhood.html">The Bond of Brotherhood</a></li>
                        <li><a href="views/valuetab/giving.html">Giving Back</a></li>
                        <li><a href="views/valuetab/gentlemen.html">We Are Gentlemen</a></li>
                        <li><a href="views/valuetab/goKA.html">Top Five Reasons to Go KA</a></li>
                        <li><a href="views/valuetab/youareKA.html">You Are A KA</a></li>
                    </ul>
                    <li onclick="displaySubNav('awards')"><a>Awards<i id="awards-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i></a></li>
                    <ul id="awards-sub-nav" class="sub-navbar">
                        <li><a href="views/awards.html">Our Awards</a></li>
                        <li><a href="views/awardtab/campusawards.html">Campus Awards</a></li>
                        <li><a href="views/awardtab/nationalawards.html">National Awards</a></li>
                        <li><a href="views/awardtab/scholarships.html">Scholarships</a></li>
                    </ul>
                    <li class="active" onclick="displaySubNav('about')"><a>About<i id="about-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i></a></li>
                    <ul id="about-sub-nav" class="sub-navbar">
                        <li class="active"><a href="views/about.html">About Us</a></li>
                        <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                        <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                        <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                        <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                        <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                        <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                        <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
                    </ul>
                    <li><a href="views/contact.html">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
          </div>
        </nav>
      </header>
      <!--/.nav-ends -->

      <section id="about-nav-banner">
        <div class="about-banner"></div>
        <div class="page_info about-nav-background">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-6">
                <h4>About Us</h4>
                <ul class="about-navbar">
                  <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                  <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                  <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                  <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                  <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                  <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                  <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current"> About</span></div>
            </div>
          </div>
      </section>
      <section id="letter-ka-parent">

        <div class="about-container">
          <div class="about-item">
            <div class="about-section-heading">
              <h2> Letter From a KA Parent </h2>
            </div>
            <p>
            <br> Greek Life offers an excellent opportunity for college students to enhance their classroom learning by developing their leadership and social skills so essential for success in life. We were very proud to have our son join Kappa Alpha Order at Missouri S&T.

            <br><br> First and foremost, KA stresses scholastic achievement. Year after year KA has been of the highest performing fraternities at Missouri S&T. They offer a support system that will serve your son well. From the study hours to the mentoring and guidance from upperclassmen, KAs do not leave success to chance. In KA, your son will find the kind of friends that will encourage him to study and reach high standards.

            <br><br> Kappa Alpha Order also offers an opportunity for the men to develop social skills and to network. While GPA is important, developing the socials skills to work with others and having a network of alumni to further his career cannot be overestimated. In KA, your son will establish friendships that will last a lifetime.

            <br><br> - David & Jill Cox, Kansas City, MO

            </p>
          </div>

          <div class="photo">
            <img src="img/letterpen.jpg">
          </div>
        </div>
      </section>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <div class="footer-brand">
                <img src="img/KA_logo.png" align="left"></img>
                <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
              </div>
            </div>
            <div class="social-footer">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - Beta Alpha</h4>
              <hr />
              <ul>
                <li>Beta Alpha of Kappa Alpha</li>
                <li>1 Fraternity Drive</li>
                <li>Rolla, Missouri 65401</li>
                <li>President: <p class="presPhone" style="display: inline;"></p></li>
                <li>Alumni Contact</li>
                <li><p class="aluPhone" style="display: inline;"></p></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - National</h4>
              <hr />
              <ul>
                <li>Kappa Alpha Order at Mulberry Hill</li>
                <li>115 Liberty Hall Road</li>
                <li>Lexington, Virginia 24450</li>
                <li>(540) 463-1865</li>
                <li>Fax: (540) 463-2140</li>
              </ul>

            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Quick Links</h4>
              <hr />
              <ul class="footer-links">
                <li><a href="views/values.html">Values</a></li>
                <li><a href="views/awards.html">Awards</a></li>
                <li><a href="views/about.html">About</a></li>
                <li><a href="views/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </section>

    <section id="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 copyright">
            Developed by <span>Beta Alpha of Kappa Alpha</span>
            and hosted on <a href="https://github.com/joe-studer-18/mst-ka-site">Github</a>
          </div>
        </div>
      </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>
</body>
  <script src="./script/global.js"></script>
  <script src="./script/nav.js"></script>
</html>
