<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/about.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>

</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul class="social_links">
                        <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li class="active"><a href="#">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <section id="about-nav-banner">
        <div class="about-banner"></div>
        <div class="page_info about-nav-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>About Us</h4>
                        <ul class="about-navbar">
                            <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                            <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                            <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                            <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                            <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                            <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                            <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current"> About</span></div>
                </div>
            </div>
    </section>


    <section id="notable-alumni">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Business </h2>
                    </div>
                    <ul class="bullets">
                        <li>Clyde B. Anderson, CEO of Books-A-Million</li>
                        <li>Clayton D. Baird, Chairman, Mrs. Baird’s Bakeries</li>
                        <li>John H. Bryan, Jr, Chairman and CEO, Callaway Golf</li>
                        <li>David M. Chamberlin,  CEO, Shaklee Corporation</li>
                        <li>Harry Cullen, Director, Cullen Bank Center</li>
                        <li>Robert Crandall, Chairman and CEO, American Airlines</li>
                        <li>Earnest W. Deavenport, President and CEO, Eastman Chemical Co.</li>
                        <li>John D. DeButts, Chairman, AT&T</li>
                        <li>William E. Dreyer, Senior Executive VP, Southwestern Bell</li>
                        <li>U. Edwin Garrison, Chairman, Thiokol</li>
                        <li>David A. Stonecipher, CEO, Jefferson-Pilot Corporation</li>
                        <li>Ted L. Weise, CEO, FedEx</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Education – College or University Presidents </h2>
                    </div>
                    <ul class="bullets">
                        <li>Dr. William R. Baldt</li>
                        <li>Goldey Beacom</li>
                        <li>Dr. Robert Bottoms,  DePaul</li>
                        <li>Dr. E. Douglas Hodo, Houston Baptist</li>
                        <li>Dr. John E. Johns,  Furman</li>
                        <li>John Knapp, Superintendent VMI</li>
                        <li>Dr. Frank A. Rose,  Transylvania; University of Alabama</li>
                        <li>Dr. Bruce A. Samson, Tampa</li>
                        <li>Dr. Billy O. Wireman, Queens College</li>
                        <li>Dr. Forest Kent Wyatt, Delta State</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Entertainment </h2>
                    </div>
                    <ul class="bullets">
                        <li>ACTING – Bill Engvall, George Grizzard, Richard Moll, Randolph Scott, Anthony Perkins</li>
                        <li>MUSIC – Pat Boone, George Hamilton IV, Page McConnell</li>
                        <li>NEWS, MC – Charlie Rose</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Government </h2>
                    </div>
                    <h4>CONGRESS</h4>
                    <ul class="bullets">
                        <li>Carl Albert (OK), Speaker of the House</li>
                        <li>Roy Blunt, House and Senate (MO);</li>
                        <li>Caleb Boggs, Senate (DE)</li>
                        <li>Rick Boucher, House (VA)</li>
                        <li>Larry Combest, House (TX)</li>
                        <li>Bart Gordon, House (TN)</li>
                        <li>Sonny Montgomery, House (MS)</li>
                        <li>Claude Pepper, House and Senate (FL)</li>
                        <li>Floyd D. Spence, House (SC)</li>
                    </ul>
                    <h4>EXECUTIVE</h4>
                    <ul class="bullets">
                        <li>Hugh Clegg, Asst Director FBI</li>
                        <li>Clark M. Clifford, Chief Council to Pres Truman, Eisenhower, Kennedy; Secretary of Defense</li>
                        <li>J. Edgar Hoover, Director FBI</li>
                        <li>Dean Rusk, Secretary of State</li>
                    </ul>
                    <h4>GOVERNOR</h4>
                    <ul class="bullets">
                        <li>J. Caleb Boggs, Delaware</li>
                        <li>William Clements, Texas</li>
                        <li>Bill Owens, Colorado</li>
                        <li>Austin Peay,  Tennessee</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Military </h2>
                    </div>
                    <ul class="bullets">
                        <li>Admiral Richard E. Byrd, Jr.  Antarctic Explorer; Medal of Honor</li>
                        <li>Captain David McCampbell, Top U.S. Ace; Medal of Honor</li>
                        <li>General George C. Marshall, General of the Army, Secy of State; Secy Defense; Nobel Peace Prize</li>
                        <li>General Jack N. Merritt, Leader of NATO</li>
                        <li>General George S. Patton, General of the U.S. Army</li>
                        <li>General J.H. Binford Peay II,  Vice Chief of Staff, Army; Superitendent, VMI</li>
                        <li>General Lemuel C. Shepherd, Jr. Commandant, U.S. Marine Corps</li>
                        <li>Richard Truly, Vice Admiral, U.S. Navy; Astronaut; Director of NASA</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Sports </h2>
                    </div>
                    <ul class="bullets">
                        <li>PGA – Tommy Aaron, Ben Crenshaw, Al Geiberger, Don January, Jay Sigel, Dave Stockton</li>
                        <li>RACING – James C. France, Danny Sullivan</li>
                        <li>NFL – Sonny Jergensen, Joe Kapp, Ernie Nevers, Sam Wyche</li>
                        <li>MLB – Tim McCarver</li>
                        <li>OLYMPICS – Melvin Stewart</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Religion </h2>
                    </div>
                    <ul class="bullets">
                        <li>Rt. Reverend James L. Duncan (1955-57); Bishop, Episcopal Diocese of Florida</li>
                        <li>Dr. Richard T. Feller (1970-73); Canon Clerk of the Works, Washington Cathedral</li>
                        <li>W. McLeod Frampton, Jr. (1957-61); Retired Presbyterian Minister</li>
                        <li>Henry J. Mikell (1926-34); Episcopal Bishop, Atlanta; Chancellor, University of the South</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: (417) 699-6400</li>
                          <li>Alumni Contact</li>
                          <li>Jim Hennesy - (314) 378-8483</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>
</body>

</html>
