<!DOCTYPE html>
<html>
  <base href="../../" />

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/about.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>

  </head>

  <body id="wrapper" class="red">

    <section id="top-header">
      <div class="container">
        <div class="row">
          <div class="social">
            <ul class="social_links">
              <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>

    </section>

    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="img/KA_logo.png"></img>
              <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav sticky">
              <li><a href="index.html">Home</a></li>
              <li><a href="views/values.html">Values</a></li>
              <li><a href="views/awards.html">Awards</a></li>
              <li class="active"><a href="#">About</a></li>
              <li><a href="views/contact.html">Contact</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        </div>
      </nav>
    </header>
    <!--/.nav-ends -->

    <section id="about-nav-banner">
      <div class="about-banner"></div>
      <div class="page_info about-nav-background">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6">
              <h4>About Us</h4>
              <ul class="about-navbar">
                <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current"> About</span></div>
          </div>
        </div>
    </section>


    <section id="officers">
      <div class="about-container">
        <div class="about-section-heading"> 
          <h2> BA of KA Officers </h2>
          <br><br>
        </div>
      </div>    

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/1.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Thomas Wagner </h3>
            </div>
            <p>
            <br> President
            <br> <a href="mailto:twbh3@umsystem.edu">twbh3@umsystem.edu</a>
            <br> Year Joined KA: 2017
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/2.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Jack Wade </h3>
            </div>
            <p>
            <br> Vice President
            <br> jcwk2k@umsystem.edu
            <br> Year Joined KA: 2017
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/3.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Brad Scherrer </h3>
            </div>
            <p>
            <br> Recording Secretary
            <br> basbbt@umsystem.edu
            <br> Year Joined KA: 2017
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/4.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Brendan Schanuel </h3>
            </div>
            <p>
            <br> Corresponding Secretary
            <br> bmsxc4@umsystem.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/5.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Hunter Taylor </h3>
            </div>
            <p>
            <br> Historian
            <br> hctqcw@umsystem.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">
        <div class="officer-listing">
          <img src="../img/Officers/6.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Tyler Hollis </h3>
            </div>
            <p>
            <br> Purser
            <br> tahg47@umsysten.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
           <img src="../img/Officers/7.jpg">
           <div>
            <div class="about-section-heading">
              <h3> Dylan O’Neal </h3>
            </div>
            <p>
            <br> Parliamentarian
            <br> djotn4@umsystem.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/8.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Sean Poth </h3>
            </div>
            <p>
            <br> Sergeant-at-Arms
            <br> snphgw@umsystem.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/9.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Cooper St. John </h3>
            </div>
            <p>
            <br> Marshal
            <br> ctsdfq@umsystem.edu
            <br> Year Joined KA: 2018
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/rc1.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Jake Newell </h3>
            </div>
            <p>
            <br> Rush Chairman
            <br> jsnhpy@umsystem.edu
            <br> Year Joined KA: 2019
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/rc2.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Mason Fleming </h3>
            </div>
            <p>
            <br> Rush Chairman
            <br> mafqvc@umsystem.edu
            <br> Year Joined KA: 2019
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/hm1.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Parker Bowman </h3>
            </div>
            <p>
            <br> House Manager
            <br> pcbwyt@umsystem.edu
            <br> Year Joined KA: 2019
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/hm2.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Matthew Muehler </h3>
            </div>
            <p>
            <br> House Manager
            <br> mmmhgr@umsystem.edu
            <br> Year Joined KA: 2019
            </p>
          </div>
        </div>
      </div>

      <div class="about-container">

        <div class="officer-listing">
          <img src="../img/Officers/steward.jpg">
          <div>
            <div class="about-section-heading">
              <h3> Leo Hager </h3>
            </div>
            <p>
            <br> Steward
            <br> lrh6kd@umsystem.edu
            <br> Year Joined KA: 2019
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <div class="footer-brand">
                <img src="img/KA_logo.png" align="left"></img>
                <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
              </div>
            </div>
            <div class="social-footer">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - Beta Alpha</h4>
              <hr />
              <ul>
                <li>Beta Alpha of Kappa Alpha</li>
                <li>1 Fraternity Drive</li>
                <li>Rolla, Missouri 65401</li>
                <li>President: (417) 699-6400</li>
                <li>Alumni Contact</li>
                <li>Jim Hennesy - (314) 378-8483</li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - National</h4>
              <hr />
              <ul>
                <li>Kappa Alpha Order at Mulberry Hill</li>
                <li>115 Liberty Hall Road</li>
                <li>Lexington, Virginia 24450</li>
                <li>(540) 463-1865</li>
                <li>Fax: (540) 463-2140</li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Quick Links</h4>
              <hr />
              <ul class="footer-links">
                <li><a href="views/values.html">Values</a></li>
                <li><a href="views/awards.html">Awards</a></li>
                <li><a href="views/about.html">About</a></li>
                <li><a href="views/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </section>

    <section id="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 copyright">
            Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
          </div>
        </div>
      </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>
  </body>

</html>
