<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/about.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>

</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul class="social_links">
                        <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        
    </section>
    
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li class="active"><a href="#">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->
    
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Kappa Alpha Order | Beta Alpha Chapter</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Parents FAQ About Fraternity Life</h4>
                        <ul class="about-navbar">
                            <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                            <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                            <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                            <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                            <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                            <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                            <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current"> About</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section id="parents-faq">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <p>
                        <br> For your son, making the transition from high school or community college to a four-year college or university may seem like an imposing challenge. The Beta Alpha Chapter of Kappa Alpha Order knows you may be thinking about one or more of the following questions:
                        <ul class="bullets">
                            <li>Will I fit in and make new friends?</li>
                            <li>Will I succeed academically?</li>
                            <li>Will I be able to get involved in campus organizations and better my leadership skills?</li>
                            <li>Will I find other people interested in the same things that I am?</li>
                            <li>How can I prepare for my career?</li>
                            <li>Will I feel like a part of the campus community or just another number?</li>
                        </ul>

                        <br><br> Fraternities exist as a proven support network for your son as he embarks on this new period in his life. Over 400,000 students across the country are currently fraternity members.

                        <br><br> The fraternity can help personalize your son's college experience by offering a scholastic support system, hands-on experience in leading committees, experience managing and creating budgets, interactions with faculty and administrators, exposure to potential careers through educational programs and discussions with alumni, the chance to give back to the community through service projects, and close friends who will cheer him on when he is successful and support him when times are tough. With all these opportunities available to them, it is no wonder that fraternity members tend to graduate from college at a higher rate than those men not involved in fraternities.

                        <br><br> As a parent, you are undoubtably concerned about your son's college experience and the choices he will make. Below, we answer some of the questions you may have about fraternity membership.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="about-section-heading">
                        <h2> Questions </h2>
                    </div>
                    <h4><strong>Aren't fraternities like the one shown in the movie Animal House?</strong></h4>
                    <p>
                       <br> Nobody likes stereotypes. Unfortunately, after the showing of that movie, fraternity members have been categorized as partiers, irresponsible and abusive. In reality, fraternities are values-based organizations dedicated to the development of character and lifelong friendship.
                       
                       <br><br> The following are some basic expectations of fraternal membership: I will strive for academic achievement and practice academic integrity; I will respect the dignity of all persons, therefore I will not physically, mentally, psychologically or sexually abuse or haze any human being; I will respect my property and the property of others, therefore, I will neither abuse nor tolerate the abuse of property; I will neither use nor support the use of illegal drugs; I will neither misuse nor support the misuse of alcohol; I acknowledge that a clean and attractive environment is essential to both physical and mental health, therefore, I will do all in my power to see that the chapter property is properly cleaned and maintained; I will challenge all my fraternity members to abide by these fraternal expectations and will confront those who violate them. 
                    </p>
                
                    <h4><strong>The basic expectations talk about alcohol. What is it REALLY like in the fraternity?</strong></h4>
                    <p>
                       <br> Alcohol abuse is unhealthy and inconsistent with fraternal ideas. All fraternities are expected to uphold state, county, and city laws, and university policies regarding the consumption of alcohol. In addition, most are not allowed to purchase alcohol for members. The days of large quantities of alcohol at a social function are gone. Instead, you will find fraternity members participating in alcohol-free social activities like moonlight bowling, dinner exchanges, and lip sync contests. Students who choose not to drink will know that it is ok and feel comfortable with their decision.
                    </p>

                    <h4><strong>I'm concerned about my son's grades. What impact would fraternity membership have?</strong></h4>
                    <p>
                        <br> Students often find managing their time difficult when moving from a highly structured high school environment to the freedoms of college. Fraternities assist in that transition by offering scholarship programs which might include study partners, mandatory study hours, and time management workshops. Your son can access the network of fraternity members who already know how to use campus resources like the library, study skills centers, computer labs, and academic advisors.
                    
                        <br><br> While fraternities are concerned about the academic achievement of their members, your son is still ultimately responsible for utilizing the resources made available.
                    </p>

                    <h4><strong>What about pledging or hazing?</strong></h4>
                    <p>
                        <br> New fraternity members all experience a period of orientation. During this time your son and the other new members will participate in weekly meetings to learn about the university and fraternity, leadership retreats, community service projects, and activities designed to build friendships among new members and the older fraternity members.
                    
                        <br><br> All fraternities oppose hazing and are committed to a membership education period which instills a sense of responsibility and commitment in the new members. This period will assist your son in overcoming some of his concerns about success in college. 
                    </p>

                    <h4><strong>Who is actually in charge of the fraternity?</strong></h4>
                    <p>
                        <br> Fraternity members elected to officer positions manage the day-to-day operations of the organization. These officers are assisted by members serving on committees and by alumni who act as advisors.
                    
                        <br><br> In addition, most fraternities are part of a national fraternal organization which offers support, advice, and direction through a paid professional staff and regional volunteers. Professional staff from the college and university are also employed to assist and monitor the activities of fraternities.
                    </p>

                    <h4><strong>Does it cost a lot of money to be in a fraternity?</strong></h4>
                    <p>
                        <br> Fraternity lodging and meals are highly competitive with other housing options. In the first year of membership, a few one-time expenses are assessed. After those initial payments are made, your son’s only expense will be his regular dues. A variety of payment plans are offered depending on the financial situation of the member.
                    </p>

                    <h4><strong>Being in a fraternity sounds like it takes a lot of time.</strong></h4>
                    <p>
                        <br> Participating in any worthwhile activity always requires an investment of one’s time. Research has shown that involved college students are more likely to graduate and they report greater satisfaction with their college experience. Through his fraternity involvement your son will learn to balance his academic, work, campus involvement, and social commitments.
                    </p>

                    <h4><strong>How does my son go about joining a fraternity?</strong></h4>
                    <p>
                        <br> Fraternities organize a recruitment process of meeting people and making friends which offers your son an opportunity to meet other people on campus and learn what each fraternity has to offer its members.
                    
                        <br><br> Everyone likes to belong; to feel a part of something. Each fraternity has its own unique programs and strengths, yet all are primarily based on the development of character, social skills, friendship, service to humanity and academic skills. Just like researching, visiting and choosing a college, your son should seek out the fraternity that best fits his personality, needs and desires. He will find that there is a place for everyone.
                    </p>

                    <h4><strong>What is my role as a parent?</strong></h4>
                    <p>
                        <br> Be supportive and learn as much as you can by asking questions of your son as he meets people through the rush process. Fraternity members will be more than happy to tell him (and you) about their group.
                    </p>

                </div>


            </div>

        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Address</h4>
                        <hr/>
                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.
                        </p>
                        <a href="#" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Useful Links</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Community</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Free Goods</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                    <div class="footer-block">
                        <h4>Recent Posts</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
