body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img {
  background-image: url('/images/house-header.jpg');
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/images/house-header.jpg');
  min-height: 100%;
}

/* Second image (My Work) */
.bgimg-2 {
  background-image: url("/images/p2.webp");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/images/p3.webp");
  min-height: 400px;
}

.default-img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
