.about-navbar li{
    display: inline;
    margin: 0px 30px 0px 0px;
}

body #greek-life, #house-history, #letter-ka-parent, #notable-alumni, #officers, #parents-faq{
    padding: 50px 0px;
}

.about-section-heading{
    color: #333333; /*Dark Grey*/
    text-transform: uppercase;
    text-align: center;
}

.about-section-heading-left{
    color: #333333; /*Dark Grey*/
    text-transform: uppercase;
    text-align: left;
}

.bullets li {
    list-style-type: circle;
    margin-left: 20px;
}

.about-banner {
    background-size: cover;
    background-image: url(../img/banner-slide-3.jpg);
    background-position: center;
    padding: 175px 0px;
}

.about-nav-background {
    background-color: #f0efef; /*Very Light Grey*/
}

.about-container-officers {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-listing {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about-listing p {
  display: flex;
  text-align: justify;
  padding-right: 30px;
}
.about-listing div {
  max-width: 50%;
}
.about-listing img {
    float: right;
    border-radius: 8px;
    box-shadow: black 0 0px 10px;
    max-height: 250px;
    max-width: 437px;
}
@media (max-width: 920px) {
  .about-navbar {
    display: none;
  }
  .about-listing {
    justify-content: center;
    text-align: center;
  }
  .about-listing div {
    max-width: 100%;
    justify-content: center;
  }
  .about-listing p {
    padding: 0px 0px 50px 0px;
    text-align: center;
  }
  .about-listing img {
    max-height: 200px;
    max-width: 300px;
  }
  .about-section-heading {
    padding-top: 10px;
  }
  #officers .about-section-heading {
    text-align: center;
  }
}
.officer-listing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.officer-listing img {
    box-shadow: black 0 0px 10px;
    margin: 10px;
}
.officer-details {
  text-align: center;
  margin-bottom: 50px;
}
.missing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 210px;
  padding-bottom: 210px;
}
.missing-page-text {
  justify-content: center;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  img {
    width: 70%;
    }
  p {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}
