.about-navbar li{
    display: inline;
    margin: 0px 30px 0px 0px;
}

body #greek-life, #house-history, #letter-ka-parent, #notable-alumni, #officers, #parents-faq{
    padding: 50px 0px;
}

.about-section-heading{
    color: #333333; /*Dark Grey*/
    text-transform: uppercase;
    margin-top: 50px;
}

.bullets li {
    list-style-type: circle;
}

.about-banner {
    background-size: cover;
    background-image: url(../img/banner-slide-3.jpg);
    background-position: center;
    padding: 175px 0px;
}

.about-nav-background {
    background-color: #f0efef; /*Very Light Grey*/
}

.about-container {
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;  
}

.about-item {
    flex: 2;
    
}

.photo {
    flex: 1;
    padding: 50px;
    
}

.photo img {
    border-radius: 8px;
    box-shadow: black 0 0px 10px;
    margin-bottom: 50px;
}