.data-studio-report {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.data-studio-report iframe {
    align-items: center;
    border:none;
    height: 100%;
    width: 60%;
}

.data-studio-text {
  align-items: center;
  padding: 10px;
}
