$lg: 580px;

html, 
body {
  margin: 0;
  padding: 10px;
  background: darken(whitesmoke, 10%);
}
.insta {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.insta a {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  background: white;

  @media only screen and (min-width: $lg) {
    width: 25%;
  }
}
.insta img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 10px 10px 40px 8px rgba(69,69,69,1);
  -moz-box-shadow: 10px 10px 40px 8px rgba(69,69,69,1);
  box-shadow: 10px 10px 40px 8px rgba(69,69,69,1);
}
