.newsletter-card {
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 300px;
}

.newsletter-card:hover {
  transform: scale(1.05);
}
.newsletter-img {
  min-width: 30vw;
  max-width: 80vw;
  max-height: auto;
}

.newsletter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.newsletter-text {
  text-align: center;
  padding: 10px;
}
