<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Awards</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 848 594 5080</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">sales@aspiresoftware.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="awardTab">
      <a href="views/awardtab/campusawards.html">Campus Awards</a><br>
      <a href="views/awardtab/nationalawards.html">National Awards</a><br>
      <a href="views/awardtab/scholarships.html">Scholarships</a><br>
    </div>

    <section id="campusAwardsContent">
      <div class="awardList">
        <img src="img/bakaawards.jpg" align=right>
        <div class="awardType">
          <h4>Anti-Hazing Award - </h4>
          <p>Awarded for 2017, 2018, and 2019 for our strong stance and proactive
            measures to prevent hazing in any form within our chapter.
          </p>
        </div>
        <div class="awardType">
          <h4>Excellence in Academics - </h4>
          <p>Consistently in the Top 5 GPA among Fraternities.
          </p>
        </div>
        <div class="awardType">
          <h4>IFC Man of the Year - </h4>
          <p>One graduating individual who has stood out amongst all graduating
            members of the Interfraternity Council for their service and
            excellence (Jack Conroy - 2017).
          </p>
        </div>
        <div class="awardType">
          <h4>Fraternity Man of the Year - </h4>
          <p>One graduating individual who has stood out amongst every other
            graduating Greek member (Clayton Newburry, 2018).
          </p>
        </div>
        <div class="awardType">
          <h4>Chapter President of the Year - </h4>
          <p>Awarded to the most outstanding Chapter President among Fraternities
            on our campus. (Joseph Studer in 2019).
          </p>
        </div>
        <div class="awardType">
          <h4>Chapter Living Your Values Award - </h4>
          <p>Awarded to the IFC chapter with the strongest dedication to their
            values in their everyday life, see our values tab for more info!
            (Awarded in 2019)
          </p>
        </div>
        <div class="awardType">
          <h4>Outstanding Academic Plan - </h4>
          <p>Awarded to the chapter with the best academic plan amongst all IFC
            Fraternities. (Awarded in 2018)
          </p>
        </div>
      </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: (417) 699-6400</li>
                          <li>Alumni Contact</li>
                          <li>Jim Hennesy - (314) 378-8483</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>
  </body>
</html>
