<!DOCTYPE html>
<html>
  <base href="../../" />

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Awards</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/awards.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
  </head>

  <body id="wrapper" class="red">
    <section id="content">

      <section id="top-header">
        <div class="container">
          <div class="row">
            <div class="social">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <header>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="img/KA_logo.png"></img>
                <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
              </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul id="desktop-nav" class="nav navbar-nav sticky desktop-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="views/values.html">Values</a></li>
                    <li class="active"><a href="views/awards.html">Awards</a></li>
                    <li><a href="views/about.html">About Us</a></li>
                    <li><a href="views/contact.html">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav sticky mobile-navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a onclick="displaySubNav('values')">Values<i id="values-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i>
                    </a></li>
                    <ul id="values-sub-nav" class="sub-navbar">
                        <li><a href="views/values.html">Our Values</a></li>
                        <li><a href="views/valuetab/brotherhood.html">The Bond of Brotherhood</a></li>
                        <li><a href="views/valuetab/giving.html">Giving Back</a></li>
                        <li><a href="views/valuetab/gentlemen.html">We Are Gentlemen</a></li>
                        <li><a href="views/valuetab/goKA.html">Top Five Reasons to Go KA</a></li>
                        <li><a href="views/valuetab/youareKA.html">You Are A KA</a></li>
                    </ul>
                    <li class="active" onclick="displaySubNav('awards')"><a>Awards<i id="awards-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i></a></li>
                    <ul id="awards-sub-nav" class="active sub-navbar">
                        <li><a href="views/awards.html">Our Awards</a></li>
                        <li><a href="views/awardtab/campusawards.html">Campus Awards</a></li>
                        <li><a href="views/awardtab/nationalawards.html">National Awards</a></li>
                        <li><a href="views/awardtab/scholarships.html">Scholarships</a></li>
                    </ul>
                    <li  onclick="displaySubNav('about')"><a>About<i id="about-nav-caret" style="position:absolute;right:5px" class="fa fa-caret-right"></i></a></li>
                    <ul id="about-sub-nav" class="sub-navbar">
                        <li class="active"><a href="views/about.html">About Us</a></li>
                        <li><a href="views/abouttabs/GreekLife.html">BA of KA Greek Life</a></li>
                        <li><a href="views/abouttabs/HouseHistory.html">BA of KA House History</a></li>
                        <li><a href="views/abouttabs/Officers.html">BA of KA Officers</a></li>
                        <li><a href="https://www.kappaalphaorder.org/wp-content/uploads/2011/04/2018-Risk-Management-Policy.pdf">KA National Risk Management Policy</a></li>
                        <li><a href="views/abouttabs/LetterFromKAParent.html">Letter From a KA Parent</a></li>
                        <li><a href="views/abouttabs/NotableAlumni.html">Notable Alumni of Kappa Alpha Order</a></li>
                        <li><a href="views/abouttabs/ParentsFAQ.html">Parents FAQ About Fraternity Life</a></li>
                    </ul>
                    <li><a href="views/contact.html">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
          </div>
        </nav>
      </header>
      <!--/.nav-ends -->

    <section id="awards-nav-banner">
      <!-- TODO: Change this to a panoramic of the library. Make our awards look pretty. -->
      <div class="awards-banner"></div>
      <div class="page_info awards-nav-background">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-6">
              <!-- TODO: Display these on mobile too -->
              <h4>Campus Awards</h4>
              <ul class="awards-navbar">
                <li><a href="views/awardtab/campusawards.html">Campus Awards</a></li>
                <li><a href="views/awardtab/nationalawards.html">National Awards</a></li>
                <li><a href="views/awardtab/scholarships.html">Scholarships</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current"> Awards</span></div>
          </div>
        </div>
    </section>

    <section id="campusAwardsContent">
      <div class="awards-container">
        <div class="awards-img">
          <img src="img/bakaawards.jpg" align=right>
        </div>
        <div class="awards-info">
          <div class="awardType">
            <h4>Anti-Hazing Award - </h4>
            <p>Awarded for 2017, 2018, and 2019 for our strong stance and proactive
              measures to prevent hazing in any form within our chapter.
            </p>
          </div>
          <div class="awardType">
            <h4>Excellence in Academics - </h4>
            <p>Consistently in the Top 5 GPA among Fraternities. Compared to other
              chapters <sup><a href="./views/awardtab/grade_report_ss21.pdf">[1]</a></sup>,
              KA placed first for GPA in the most recent semester.
            </p>
          </div>
          <div class="awardType">
            <h4>IFC Man of the Year - </h4>
            <p>One graduating individual who has stood out amongst all graduating
              members of the Interfraternity Council for their service and
              excellence (Jack Conroy - 2017).
            </p>
          </div>
          <div class="awardType">
            <h4>Fraternity Man of the Year - </h4>
            <p>One graduating individual who has stood out amongst every other
              graduating Greek member (Clayton Newburry, 2018).
            </p>
          </div>
          <div class="awardType">
            <h4>Chapter President of the Year - </h4>
            <p>Awarded to the most outstanding Chapter President among Fraternities
              on our campus. (Joseph Studer in 2019).
            </p>
          </div>
          <div class="awardType">
            <h4>Chapter Living Your Values Award - </h4>
            <p>Awarded to the IFC chapter with the strongest dedication to their
              values in their everyday life, see our values tab for more info!
              (Awarded in 2019)
            </p>
          </div>
          <div class="awardType">
            <h4>Outstanding Academic Plan - </h4>
            <p>Awarded to the chapter with the best academic plan amongst all IFC
              Fraternities. (Awarded in 2018)
            </p>
          </div>
          <br>
          <p><sup>[1]</sup> GPA rankings for the most recent semester can be found
            <a href="./views/awardtab/grade_report_ss21.pdf"><u>here</u></a>
          </p>
        </div>
      </section>

      <div class="applyButton">
        <a class="applyText" href="views/contact.html">Apply Online</a>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <div class="footer-brand">
                <img src="img/KA_logo.png" align="left"></img>
                <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
              </div>
            </div>
            <div class="social-footer">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: <p class="presPhone" style="display: inline;"></p></li>
                          <li>Alumni Contact</li>
                          <li><p class="aluPhone" style="display: inline;"></p></li>
                        </ul>
                    </div>
                </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - National</h4>
              <hr />
              <ul>
                <li>Kappa Alpha Order at Mulberry Hill</li>
                <li>115 Liberty Hall Road</li>
                <li>Lexington, Virginia 24450</li>
                <li>(540) 463-1865</li>
                <li>Fax: (540) 463-2140</li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Quick Links</h4>
              <hr />
              <ul class="footer-links">
                <li><a href="views/values.html">Values</a></li>
                <li><a href="views/awards.html">Awards</a></li>
                <li><a href="views/about.html">About</a></li>
                <li><a href="views/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 copyright">
            Developed by <span>Beta Alpha of Kappa Alpha</span>
            and hosted on <a href="https://github.com/joe-studer-18/mst-ka-site">Github</a>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="./script/global.js"></script>
  <script src="./script/nav.js"></script>
</html>
