<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Features</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 848 594 5080</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">sales@aspiresoftware.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="awardTab">
      <a href="views/awardtab/campusawards.html">Campus Awards</a><br>
      <a href="views/awardtab/nationalawards.html">National Awards</a><br>
      <a href="views/awardtab/scholarships.html">Scholarships</a><br>
    </div>

    <section id="nationalAwardsContent">
      <div class="awardList">
        <img src="img/bakaawards.jpg" align=right>
        <div class="awardType">
          <h4>George C. Marshall Award of Chapter Excellence - </h4>
          <p>The George C. Marshall Award is given to the top 0-3 KA chapters
            nationally each year. Of the 45+ Marshalls awarded, our chapter
            holds 11 (as of 2019). This gives us the distinct honor of being
            the most awarded KA chapter in the nation, a legacy we are proud to
            continue!
          </p>
        </div>
        <div class="awardType">
          <h4>Samuel Zenas Ammen Award for Chapter Excellence - </h4>
          <p>Similarly to the Marshall Award, the Samuel Zenas Ammen Award is
            awarded to the top 10% of KA chapters in the nation annually. As of
            2019 our chapter is proud to have received this award every year it
            has been awarded, barring only two years.
          </p>
        </div>
        <div>
          <p>To win the Ammen award you must also win the majority of awards in
            the following categories: Chapter finances, New Member Education,
            Academic Excellence, Community Service, Philanthropy, Excellence in
            Communication, and others.
          </p>
        </div>
        <div>
          <p>To win the Marshall award you must win all of the awards in those
            categories.
          </p>
        </div>
      </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>
  </body>
</html>
