<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Awards</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 848 594 5080</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">sales@aspiresoftware.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="views/values.html">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="awardTab">
      <a href="views/awardtab/campusawards.html">Campus Awards</a><br>
      <a href="views/awardtab/nationalawards.html">National Awards</a><br>
      <a href="views/awardtab/scholarships.html">Scholarships</a><br>
    </div>

    <section id="scholarshipsContent">
      <div class="scholarshipInfo">
        <div class="loudScholarship">
          <p>Alumni have consistently funded ~$50,000 annually in scholarships
            annually to members of the chapter based on academic achievement and
            need.
          </p>
        </div>
        <div class="textScholarship">
          <p>The fundamental reason for you to enter the Missouri University of
            Science and Technology is to obtain a degree and prepare yourself
            for a successful career. Kappa Alpha is dedicated to an environment
            of scholarship that helps every brother maximize his potential in
            his academic pursuits and achieve his goals.
          </p>
        </div>
        <div class="textScholarship">
          <p>It is the goal of MS&T to guide and assist you in attaining that
            goal. Kappa Alpha is dedicated to an environment of scholarship
            that helps every brother maximize his potential in his academic
            pursuits.
          </p>
        </div>
        <div class="loudScholarship">
          <p>GPA Matters. The KA average GPA is consistently higher than the
            average of all M&ST students.
          </p>
        </div>
        <div class="textScholarship">
          <p>The spirit of KA's scholarship program recognizes high scholastic
            achievement as the key to our overall chapter excellence. Here are
            some of the ways we make that happen:
          </p>
        </div>
        <div class="listScholarship">
          <ul>
            <li>Four mandatory study hours every school night for freshmen</li>
            <li>Any member struggling with grades is placed on study hours</li>
            <li>Every member attends class regardless of his current GPA</li>
            <li>The house has a wifi network linked to the S&T system</li>
            <li>The network provides access to laser printers and copiers</li>
            <li>We maintain extensive academic files to assist each brother</li>
            <li>The KA house has extensive dedicated study space</li>
          </ul>
        </div>
        <div class="textScholarship">
          <p>This scholarship program is strongly supported by all members of
            the house and is a prime reason Kappa Alpha consistently maintains
            a GPA above the “all men’s average” and among the top of Greek
            organizations.
          </p>
        </div>
      </div>
    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: <p class="presPhone" style="display: inline;"></p></li>
                          <li>Alumni Contact</li>
                          <li><p class="aluPhone" style="display: inline;"></p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>
  </body>
  <script src="./script/global.js"></script>
</html>
