<!DOCTYPE html>
<html>
  <base href="../../" />

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Values</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">
    <link rel="stylesheet" href="style/values.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
  </head>

  <body id="wrapper" class="red">

    <section id="content">
      <section id="top-header">
        <div class="container">
          <div class="row">
            <div class="social">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>

      </section>

      <header>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="img/KA_logo.png"></img>
                <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
              </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav sticky">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="views/values.html">Values</a></li>
                <li><a href="views/awards.html">Awards</a></li>
                <li><a href="views/about.html">About</a></li>
                <li><a href="views/contact.html">Contact</a></li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
          </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <section id="values-nav-banner">
        <div class="values-banner"></div>
        <div class="page_info values-nav-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                    <!-- TODO: Display these on mobile too -->
                    <h4>The Bond of Brotherhood</h4>
                    <ul class="values-navbar">
                        <li><a href="views/valuetab/brotherhood.html">The Bond of Brotherhood</a></li>
                        <li><a href="views/valuetab/giving.html">Giving Back</a></li>
                        <li><a href="views/valuetab/gentlemen.html">We Are Gentlemen</a></li>
                        <li><a href="views/valuetab/goKA.html">Top Five Reasons to Go KA</a></li>
                        <li><a href="views/valuetab/youareKA.html">You Are A KA</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current"> Values</span></div>
            </div>
        </div>
    </section>




    <section id="bond-of-brotherhood">
        <div class="values-container">
            <div class="values-listing">
                <img src="img/brotherhood.jpg">
                <div>
                    <p>
                        The bond of brotherhood established within the walls of Kappa Alpha
                        Order is a bond that will last a lifetime. “KA for Life” is what we call
                        it.
                        <br>
                        You will hear that from active and alumni brothers alike, and you will
                        see it in the way they treat each other – decades after initiation. We
                        share our lives for only a comparatively brief time on campus, but we
                        build friendships that last forever.
                        <br>
                        Because of this bond, Brothers are always willing to sacrifice for one
                        another and the advancement of the Order. Once a man becomes a member of
                        Kappa Alpha Order, he is always a part of that brotherhood. When alumni
                        return, no matter how long they have been away, they are immediately
                        recognized as part of our brotherhood.
                        <br>
                        Quoting Thomas Carlyle, the Kappa Alpha Order believes that “the mystic
                        bond of brotherhood makes all men one.”
                    </p>
                </div>
            </div>
        </div>
    </section>

      <div class="applyButton">
        <a class="applyText" href="views/contact.html">Apply Online</a>
      </div>
    </section>

    <section id="footer">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: <p class="presPhone" style="display: inline;"></p></li>
                          <li>Alumni Contact</li>
                          <li><p class="aluPhone" style="display: inline;"></p></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social-footer">
              <ul class="social_links">
                <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - Beta Alpha</h4>
              <hr />
              <ul>
                <li>Beta Alpha of Kappa Alpha</li>
                <li>1 Fraternity Drive</li>
                <li>Rolla, Missouri 65401</li>
                <li>President: (417) 699-6400</li>
                <li>Alumni Contact</li>
                <li>Jim Hennesy - (314) 378-8483</li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Contact Us - National</h4>
              <hr />
              <ul>
                <li>Kappa Alpha Order at Mulberry Hill</li>
                <li>115 Liberty Hall Road</li>
                <li>Lexington, Virginia 24450</li>
                <li>(540) 463-1865</li>
                <li>Fax: (540) 463-2140</li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 block">
            <div class="footer-block">
              <h4>Quick Links</h4>
              <hr />
              <ul class="footer-links">
                <li><a href="views/values.html">Values</a></li>
                <li><a href="views/awards.html">Awards</a></li>
                <li><a href="views/about.html">About</a></li>
                <li><a href="views/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 copyright">
            Developed by <span>Beta Alpha of Kappa Alpha</span>
            and hosted on <a href="https://github.com/joe-studer-18/mst-ka-site">Github</a>
          </div>
        </div>
      </div>
    </section>

  </body>
  <script src="./script/global.js"></script>
</html>
