<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Features</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="img/KA_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul class="social_links">
                        <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="valueTab">
      <a href="views/valuetab/brotherhood.html">The Bond of Brotherhood</a><br>
      <a href="views/valuetab/giving.html">Giving Back</a><br>
      <a href="views/valuetab/gentlemen.html">We Are Gentlemen</a><br>
      <a href="views/valuetab/goKA.html">Top Five Reasons to Go KA</a><br>
      <a href="views/valuetab/youareKA.html">You are A KA</a><br>
    </div>

    <section id="content">
      <iframe src="https://player.vimeo.com/video/57016314" width="640"
        height="360" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe>
      <p><a href="https://vimeo.com/57016314">Now its fraternal - Luke Christie,
        KA, &amp; MDA!</a> from
        <a href="https://vimeo.com/kappaalphaorder">Kappa Alpha Order</a>
        on <a href="https://vimeo.com">Vimeo</a>.</p>

      <img src="img/teamwork.jpg" align=right>
      <p>The brothers of Kappa Alpha Order are dedicated to serving our school,
        our community, and our nation. Members of Beta Alpha Chapter offer their
        time and resources across the Midwest, lending a helping hand to those
        in need.</p>
      <br>
      <p>Beta Alpha Chapter is an important contributor to the Muscular
        Dystrophy Association (MDA) – a cause supported by KA's nationwide. Our
        Chapter raises approximately $6,000 every year for MDA, raised through
        projects.</P>
      <br>
      <!-- TODO(nklein) Try and get example photos of our philanthropy events
        for these sections -->
      <p>We focus our efforts on two main philanthropic fundraisers a year: the
        5KA Color Run for MDA in the fall, and “Wings ‘n Swings”, our food-based
        philanthropy, in the spring. Of course, we have smaller events
        throughout these semesters where we focus more on directly helping our
        community!</p>
      <br>
      <p>Some of the things we do for KA include volunteering at churches or as
        youth mentors, participating in “Adopt-a-Highway”, tutoring at the local
        high school, donating blood, donating food to local women’s shelters,
        and participating in our annual Christmas party for underprivileged
        children.</p>
      <br>
      <p>Due to all this community service, along with a few major projects we
        put on, such as hosting a blood drive on campus, our members average
        over 75 service hours per man a year!</p>

    </section>

    <div class="applyButton">
      <a class="applyText" href="views/contact.html">Apply Online</a>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: (417) 699-6400</li>
                          <li>Alumni Contact</li>
                          <li>Jim Hennesy - (314) 378-8483</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>
  </body>
</html>
