<!DOCTYPE html>
<html>
<base href="../../" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Features</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script/index.js"></script>
</head>

<body id="wrapper" class="red">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul class="social_links">
                        <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/KA_logo.png"></img>
                        <h1>Kappa Alpha Order</h1><span>Missouri S&amp;T</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav sticky">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">Values</a></li>
                        <li><a href="views/awards.html">Awards</a></li>
                        <li><a href="views/about.html">About</a></li>
                        <li><a href="views/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="valueTab">
      <a href="views/valuetab/brotherhood.html">The Bond of Brotherhood</a><br>
      <a href="views/valuetab/giving.html">Giving Back</a><br>
      <a href="views/valuetab/gentlemen.html">We Are Gentlemen</a><br>
      <a href="views/valuetab/goKA.html">Top Five Reasons to Go KA</a><br>
      <a href="views/valuetab/youareKA.html">You are A KA</a><br>
    </div>

    <section id="content">
      <img src="img/fivereasons.jpg" align=right>
      <h3>Brotherhood</h3>
      <p>Thanks to our size, we are both a big house, and a small house. Being
        a big house means no matter what class you are in, or what problems you
        are dealing with, there is someone in KA who is able to help you. Being
        a small house takes that a step further, it means that we are close
        knit, and there isn’t a person in the house who doesn’t care about you
        and want to see you succeed. We’re a family, not just an organization.
      </p>
      <h3>Academics</h3>
      <p>We pride ourselves in our academic success. As an organization, we have
        implemented a thorough academic competition which not only helps us to
        keep track of how we’re all doing, but also provides an extra incentive
        to do well!
      </p>
      <h3>Character Development</h3>
      <p>Fostering a strong work ethic and leadership abilities, joining KA has
        a profound impact on making a good person into a great person.
      </p>
      <h3>Social Atmosphere</h3>
      <p>School is hard, and having a social life in a small town can be tough.
        Being a part of KA allows you to take part in socials with fraternities,
        sororities, and other organizations.
      </p>
      <h3>Leadership and Networking Opportunities</h3>
      <p>Joining KA opens a whole new world of opportunities, through our 10+
        committees, our 13 officers, and our High-Performance Teams, we have
        over 30 leadership positions available at any given time, and they are
        made up of an array of freshmen all the way through seniors.
        Additionally, our alumni base is wide and committed. Our alumni work at
        companies like Boeing, Google, Microsoft, Exxon, Cerner, Kohler, Ruger,
        and more! Through our homecoming celebration many of these men return to
        our chapter, providing outstanding networking opportunities for young
        professionals.
      </p>

    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <div class="footer-brand">
                            <img src="img/KA_logo.png" align="left"></img>
                            <h1>Kappa Alpha Order <span>Missouri S&amp;T</span></h1>
                        </div>
                    </div>
                    <div class="social-footer">
                        <ul class="social_links">
                            <li><a href="https://www.instagram.com/mst_ka/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/BAofKA"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MST_KA"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/27714025"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - Beta Alpha</h4>
                        <hr />
                        <ul>
                          <li>Beta Alpha of Kappa Alpha</li>
                          <li>1 Fraternity Drive</li>
                          <li>Rolla, Missouri 65401</li>
                          <li>President: (417) 699-6400</li>
                          <li>Alumni Contact</li>
                          <li>Jim Hennesy - (314) 378-8483</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contact Us - National</h4>
                        <hr />
                        <ul>
                          <li>Kappa Alpha Order at Mulberry Hill</li>
                          <li>115 Liberty Hall Road</li>
                          <li>Lexington, Virginia 24450</li>
                          <li>(540) 463-1865</li>
                          <li>Fax: (540) 463-2140</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Quick Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="views/values.html">Values</a></li>
                            <li><a href="views/awards.html">Awards</a></li>
                            <li><a href="views/about.html">About</a></li>
                            <li><a href="views/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>
  </body>
</html>
